.bidders {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    padding: 24px;
  }

  //TODO: Make this responsive
  &__breadcrumbs {
    width: 25vw;
    margin-bottom: 36px;
    padding: 0 24px 36px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    a {
      font-size: 16px;
      color: #F26735;
    }
    span {
      font-weight: 500;
    }
  }

  &__cols {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 350px;
  }
}

.bidders__cols .bidder-list:first-child .bidder__name {
  background: #F26735;
}