.bidder-list {
  background: #FBFBFB;
  margin: 8px;
  padding: 24px;
  border: 1px solid #e8e8e8;
  max-width: 300px;
  width: 100%;

  &__name {
    color: #383838;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
  }
}